<h1>GitRepositories#index</h1>
<p>Find me in app/views/git_repositories/index.html.erb</p>

<ul>
  <% @git_repositories.each do |git_repository| %>
    <li>
      <!-- show list of git repositories along with links -->
      <%= link_to git_repository.path, git_repository %>
    </li>
  <% end %>
</ul>

<%= link_to "Add New Git Repository", new_git_repository_path %>
