<h1>GitCommits#show</h1>
<div id="main">
<button class="prev-button">Prev</button><h2 id="hash">SHA: <%= @commit.object_hash %></h2><button class="next-button">Next</button>
</div>
<% @commit.git_files.each do |file| %>
<h3><%= file.filename %></h3>
  <% file.file_lines.each do |line| %>
    <%= render partial: "line", locals: {line: line} %>
  <% end %>
<% end %>
